Extend HTTP field support in `http-message-sig`

The current support for HTTP field is rudimentary.

For instance, as per [Section 2.1 of RFC9421](https://datatracker.ietf.org/doc/html/rfc9421#section-2.1), we should add `sf` and `bs`.

`web-bot-auth` may not need them yet, but that would be a nice to have.

cc @AkshatM

Not really required for WBA. I believe that using a full HTTP Message Signature implementation is likely to belong in a dedicated repository.

There was a proposal in #122 by @panva. This may be the right route if we get more traction. Specifically, for protocol and developers that seek to expand WBA, such a support would be useful.

#135 helped to provide a smoother migration and closed the gap for primitives that are required by WBA