No support for ECDSA P-256

I'd like to open a PR supporting ECDSA P-256 at least for verification as that is my current need (already using the library with an ed25519 and now having to add a key using this algorithm)

The only main decisions I see from my perspective in that regard:
1.  Which create should be used (leading candidates are `p256` and `ecdsa`)?
2. The `FailedToVerify` error currently having an associated `ed25519_dalek::SignatureError`, meaning I'd need to either introduce a separate error for verification failure for ECDSA or introduce breaking changes to that error

I didn't want to overstep and directly open a PR, so let's discuss :)

I need this as well before I can switch from my RFC 9421 implementation to using this crate. Any plans for this, or openness to PRs?

As this crate follows the development of the specification here
https://github.com/thibmeu/http-message-signatures-directory/issues

it make sense to propose the inclusion of P256 in the spec.

if you're able to share, what's your specific use case to use `ecdsa-p256-sha256` ?

@armfazh in term of specification, [architecture](https://datatracker.ietf.org/doc/draft-meunier-web-bot-auth-architecture/) would allow for `ecdsa-p256-sha256` to be used as defined in [Section 3.3.4 of RFC9421](https://www.rfc-editor.org/rfc/rfc9421#method-ecdsa-p256-sha256). What the current specification does not provide is test vector for this algorithm, which could be added depending on the use cases.